.btn-primary {
  color: #FFFFFF;
  background-color: #61514E;
  border-color: #61514E;
  border-radius: 7px;
  font-size:24px;
  padding: 14px 18px;
}

.btn-primary:hover
{
  color: #FFFFFF;
  background-color: #A48D7C;
  border-color: #61514E;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #FFFFFF;
  background-color: #3F3230;
  border-color: #61514E;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #61514E;
  border-color: #61514E;
}

.btn-primary .badge {
  color: #61514E;
  background-color: #FFFFFF;
}

.cta {
  border-radius: 50px!important;
  padding: 14px 25px;
}




input[type="checkbox"], input[type="radio"] {
  display: none !important;
}

input[type="checkbox"] ~ label,  input[type="radio"] ~ label {
  min-height: 37px;
  min-width: 37px;
}

input[type="checkbox"]:empty,  input[type="radio"]:empty {
  margin-left: -9999px;
}

input[type="checkbox"]:empty ~ label,  input[type="radio"]:empty ~ label {
  position: relative;
  float: left;
  line-height: 2.3em;
  text-indent: 2.5em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="checkbox"]:empty ~ label:before,  input[type="radio"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 37px;
  height:37px;
  background: $beige;
  border-radius: 3px;
}

input[type="checkbox"]:hover:not(:checked) ~ label:before,  input[type="radio"]:hover:not(:checked) ~ label:before {
  content: '';
  text-indent: .6em;
  padding-top: 4px !important;

  color: $lightbrown;
}

@media screen and (min-width: 1200px) {
  input[type="checkbox"]:hover:not(:checked) ~ label:before,  input[type="radio"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .6em;
    padding-top: 4px !important;

    color: $lightbrown;
  }
}

input[type="checkbox"]:hover:not(:checked) ~ label,  input[type="radio"]:hover:not(:checked) ~ label {
  color: $brown;

}

input[type="checkbox"]:checked ~ label:before,  input[type="radio"]:checked ~ label:before {
  content: '\2714';
  text-indent: .6em;
  color: $brown;
  background-color: $lightbrown;
  padding-top: 4px !important;

}

input[type="checkbox"]:checked ~ label,  input[type="radio"]:checked ~ label {
  color: $brown;

}

input[type="checkbox"]:not(:checked) ~ label,  input[type="radio"]:not(:checked) ~ label{
  color: $brown;

}

input[type="checkbox"]:focus ~ label:before ,  input[type="radio"]:focus ~ label:before {
  box-shadow: 0 0 0 3px $brown;

}



a {
  .beigelink {color: $brown}
}


a:hover {
  .beigelink {color: $beige!important;
  text-decoration: none!important;}
}
a:focus {
  .beigelink {color: $beige!important;
    text-decoration: none!important;}
}



//default transition duration
$duration: .3s;

//disable the highlighting effect when an element is tapped
@mixin disableTapHighlightColor() {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

//improve performance when doing transitions
@mixin hardwareAccel() {
  transform: translateZ(0);
}


/* HOVER */
@keyframes hover {
  50% {
    transform:translateY(-3px);
  }
  100% {
    transform:translateY(-6px);
  }
}
@keyframes shadow {
  0% {
    transform: translateY(0px);
    opacity: .0;
  }

  50% {
    transform: translateY(3px);
    opacity: 0;
  }

  100% {
    transform: translateY(6px);
    opacity: .0;
  }
}
.hover {
  position: relative;
  transition-duration: $duration;
  transition-property: transform;

  @include disableTapHighlightColor();
  @include hardwareAccel();

  &:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,.0) 0%,rgba(0,0,0,0) 80%); /* W3C */
    transition-duration: $duration;
    transition-property: transform opacity;
  }

  &:hover {
    transform:translateY(-6px);
    animation-name:hover;
    animation-duration:1.5s;
    animation-delay:$duration;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    animation-direction:alternate;

    &:before {
      opacity: .6;
      transform: translateY(6px);
      animation-name: shadow;
      animation-duration: 1.5s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}


.scale10:hover img {
  transform: scale(1.1);
}
.hover:hover a {
  color: $lightbrown;}