h1, h2, h3, h4, h5, h6 {
  font-family: hk_grotesk;
  font-weight: bold;
}
body {color: $brown;}

.browntext {
  color: $brown !important
}

.lightbrowntext {
  color: $lightbrown !important
}

.beigetext {
  color: $beige !important
}

.whitetext {
  color: $white !important
}
.fullheight {height:100%;}
.paddingtop30 {padding-top:30px;}
.nopaddingbottom {padding-bottom:0!important;}
.paddingbottom0 {padding-bottom:0;}
.paddingtop0 {padding-top:0;}
.nopaddingtop {padding-top:0!important;}
.iconapane {max-height:60px;}
.iconasocial {height:50px;margin-right:25px; margin-top:30px;}
.iconasocial #Stroke-3 {fill: $brown;
  transition-property: fill;
  transition-duration: 1s;
}
.iconasocial:hover #Stroke-3 {fill: $beige}
a {
  transition-property: color;
  transition-duration: 0.5s;
}