.nopadding{padding:0;}
.nomargin{margin:0;}

.row-standard{padding-top:75px; padding-bottom:100px;}

.row.eq-height {
  display: flex;
  flex-wrap: wrap;
}
.row.eq-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.title {margin-bottom:75px;}

/*
.row.eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.eq-height > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}*/
