
.container > .woocommerce{
    margin-top:30px;
    margin-bottom:30px;
  }

body.woocommerce{
  
  #container {
    margin-top:30px;
    margin-bottom:30px;
  }


  .component .component_summary .content{
      display: none; 
  }

  .composite_navigation.movable.paged.standard{
    display: none; 
  }

  .component .component_inner{
    padding-bottom:20px; 
  }

  .component p.component_section_title{
     display: none; 
  }



} 


.product-type-composite {

  .composite_data .composite_button{
    
    .quantity{ 
      display: none;
    }
    .button{
      float: right !important;
    }
  }

  .woocommerce-tabs{
    //
    .wc-tabs, .wc-tab {
      display: none !important;  
    }
  }

}

/*------------------*/
/*   Pagination     */
/*------------------*/

.composite_form .composite_pagination {
  margin-bottom: 2em;
  margin-top: 1em;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

.composite_form .composite_pagination a {
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0.2 );
}

.composite_form .composite_pagination ul {
  margin: 0;
  padding: 0; 
}

.composite_form .composite_pagination ul li {
  display: inline-block;
  padding: 0 15px 0 10px;
  margin: 0 23px 4px 0;
  position: relative;
  height: 40px;
  line-height: 38px;
  background: #f5f5f5;
}

.composite_form .composite_pagination ul li:before, .composite_form .composite_pagination ul li:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.composite_form .composite_pagination ul li:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #f5f5f5;
  border-width: 20px;
  margin-top: -20px;
}

.composite_form .composite_pagination ul li:before {
  left: -20px;
  top: 50%;
}

.composite_form .composite_pagination ul li:before {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #f5f5f5;
  border-bottom-color: #f5f5f5;
  border-width: 20px;
  margin-top: -20px;
}

.composite_form .composite_pagination ul li.pagination_element_current {
  background: #fff;
}

.composite_form .composite_pagination ul li.pagination_element_current:after {
  border-left-color: #fff;
}

.composite_form .composite_pagination ul li.pagination_element_current:before {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.composite_form .composite_pagination ul li:first-child:before {
  display: none;
}

.composite_pagination .element_index {
  color: #aaa;
  font-weight: bold;
}

.composite_pagination .element_index:after, .composite_summary .step_index:after, .component_title .step_index:after {
  content: '.';
}

.composite_pagination .element_link {
  display: inline-block;
  height: 40px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.composite_pagination .element_link.inactive {
  color: #aaa;
  cursor: default;
}

.composite_pagination .pagination_element_current .element_link {
  color: #484c51;
}

