footer{
  background-color: $lightbrown;
  color: $white;
  font-family: hk_grotesk;
  font-size:24px;
  h1, h2, h3, h4, h5, h6, p, span
  {color: $white;
    font-family: hk_grotesk;
  }

  #footer1{
    padding-top:34px;
    padding-bottom: 30px;
    background-color: $lightbrown;
  }

  #footer2{
    background-color: $brown;
    padding-top:30px;
    padding-bottom:30px;
  }

  a{color: $white!important; text-decoration:none!important;}
  a:hover{color: $beige!important;}
  a:active{color: $white!important;}
  a:visited{color:$white!important;}

  hr {
    color: $brown !important;
    background-color: $brown !important;
    height: 3px;
  }

}




