header {
  background-color: $beige;
  .container {
    background-color: $beige;

  }

  a{color: $brown!important; text-decoration:none!important;}

  a:active{color: $brown!important;}
  a:visited{color:$brown!important;}
  a:hover{color: $lightbrown!important;}


  .navbar .navbar-inner {
    padding: 0;
  }

  .navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
  }

  .navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
  }

  .navbar .nav li a {
    font-weight: bold;
    text-align: center;
  }

  .navbar .nav li.menu-special a {
    border-left: 3px solid $brown;
  }


  .nav-link {padding:0!important;}
  @media screen and (min-width: 1200px) {
    .menu-special a {padding-left:25px!important;}
  }
  .nav-link {font-weight:normal!important;}
  .menu-special{text-align:right}

  font-family:hk_grotesk!important; font-weight:normal;
}