.bkg-beige {
  background-color: #E0D0B6;
}

.bkg-brown {
  background-color: #61514e;
}

.bkg-lightbrown {
  background-color: #a48d7c;
}

.paddingbottom30 {
  padding-bottom: 30px;
}

.gform_body li {
  display: inline-block;
  width: 100%;
}

.gform_wrapper .top_label .gfield_label {
  margin-bottom: 0;
}

.row-gform {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.form-control {
  background-color: $beige;
  color: $white;
  border-radius: 0;
}

::-webkit-input-placeholder {
  color: #FFF;
}

:-moz-placeholder {
  opacity: 1;
  color: #FFF;
}

/* Firefox 18- */
::-moz-placeholder {
  opacity: 1;
  color: #FFF;
}

/* firefox 19+ */
:-ms-input-placeholder {
  color: #FFF;
}

/* ie */
input:-moz-placeholder {
  color: #FFF;
}

.comment-form input[type=email]:focus, .comment-form input[type=text]:focus, .comment-form input[type=url]:focus, .comment-form textarea:focus, .form-control:focus, .search-form .search-field:focus {
  background-color: $beige;
  color: $white;
  border-radius: 0;
}

.gform_wrapper div.validation_error {
  display: none;
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background-color: rgba(255, 223, 224, .25);
  margin-bottom: 0px !important;
  border-top: 0px solid transparent !important;
  border-bottom: 0px solid transparent !important;;
}

.gform_wrapper .gfield_required {
  display: none !important;
}

.gform_wrapper .gfield_radio li label {
  line-height: 1.5;
  font-size: 20px;
}

.gform_wrapper ul.gfield_checkbox li label, .gform_wrapper ul.gfield_radio li label {
  font-size: 20px;
  padding-top: 4px;
}

.gform_wrapper ul li.gfield {
  margin-top: 0 !important;
}

.gform_wrapper .top_label .gfield_label {
  color: $brown !important;
}

.ginput_container {
  .form-control {
    height: 58px;
  }
}

.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {max-width:100%!important;}



hr {
  color: $brown;
  background-color: $brown;
  height: 3px;
}

.lightbrownhr{
  color: $lightbrown;
  background-color: $lightbrown;
}
.beigehr{
  color: $beige;
  background-color: $beige;
}


.form-control::-webkit-input-placeholder {
  color: white;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: white;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: white;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: white;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: white;
}

.search-form select.search-field:not([size]):not([multiple]), select.form-control:not([size]):not([multiple]), select{
  min-height: 58px!important;}

.gform_wrapper .gfield_radio li label {margin-left:0px!important;}

/* Microsoft Edge */

/* .modal-fullscreen */

.modal-fullscreen {
  background: transparent;
}

.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}

.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100% !important;
}

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px !important
  }
}

@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px !important;
  }
}

@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
    width: 1170px !important;
  }
}




